<a href="https://colab.research.google.com/github/its277/css-styles/blob/main/DC2023BTE0212_Week3ALab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q3.

In [ ]:
#DEFINING FUNCTION
def calculate_sum_and_mean(numbers):
  total_sum=sum(numbers)
  count=len(numbers)
  if count==0:
    mean=0
  else:
    mean=total_sum/count
  return total_sum,mean

#FOR TAKING INPUT FROM USER
def get_numbers_from_user():
  user_input=input("enter number separated by spaces")
  str_numbers=user_input.split()
  numbers=[float(num)for num in str_numbers]
  return numbers

#USING FUNCTION
numbers=get_numbers_from_user()
total_sum,mean = calculate_sum_and_mean(numbers)

#PRINTING OUTPUT
print(f"sum={total_sum}")
print(f"Mean={mean}")

enter number separated by spaces1 2 3
sum=6.0
Mean=2.0

Q4.

In [1]:
#IMPORTING COUNTER FUNCTION WHICH IS USED TO COUNT
from collections import Counter

def elements_with_frequency_greater_than_k(test_list, K):

    frequency = Counter(test_list)#COUNTER IS USED TO COUNT ELEMENTS OF THE TEST LIST


    result = [element for element, count in frequency.items() if count > K]

    return result
#MAIN FUNCTION
def main():

    list_input = input("Enter the list of integers separated by spaces: ")
    K = int(input("Enter the value of K: "))


    test_list = list(map(int, list_input.split()))


    output = elements_with_frequency_greater_than_k(test_list, K)


    print("Elements with frequency greater than {}:".format(K), output)

#CALLING MAIN FUNCTION
if __name__ == "__main__":
    main()

Enter the list of integers separated by spaces: 11 11 22 33 33 33
Enter the value of K: 1
Elements with frequency greater than 1: [11, 33]

Q5.

In [2]:
#INITIALIZING TUPLES
tuple1 = (2, 1, 4, 2)
tuple2 = (3, -1, 2, 5)
tuple3 = (5, 2, -1, 1)
#FOR SUM OF TUPLES VALUES
element_wise_sum =tuple(sum(values) for values in zip(tuple1, tuple2, tuple3))
#PRINTING OUTPUT
print("Original lists:")
print(tuple1)
print(tuple2)
print(tuple3)
print("Element-wise sum of the said tuples:")
print(element_wise_sum)

Original lists:
(2, 1, 4, 2)
(3, -1, 2, 5)
(5, 2, -1, 1)
Element-wise sum of the said tuples:
(10, 2, 5, 8)

Q6.

In [ ]:
# phonebook dictionary
phonebook = {
    "John": "938477566",
    "Jack": "938377264",
    "Jill": "947662781"
}

# Adding "Jake" to the phonebook
phonebook["Jake"] = "938273443"

# Removing "Jill" from the phonebook
del phonebook["Jill"]

# Iterating over the phonebook dictionary and printing the names and contact numbers
for name, number in phonebook.items():
    print(f"Name: {name}, Contact Number: {number}")

Name: John, Contact Number: 938477566
Name: Jack, Contact Number: 938377264
Name: Jake, Contact Number: 938273443